/* key */
.key {
    position: relative;
}
.keyTtl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 700;
    z-index: 100;
}
.mvSlide01 {
    height: 500px !important;
}
.mvSlide01 img {
    height: 100%;
    object-fit: cover;
}

/* main common */
.cont {
    margin: 100px auto 0;
}
.mainTtl {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    position: relative;
}
.mainTtl::before {
    content: "";
    width: 30px;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.textBox .text {
    line-height: 2;
}
.img {
    width: 50%;
    flex-shrink: 0;
}

/* cont01 */
.cont01 .flex {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.cont01 .textBox {
    padding-left: 50px;
}
.cont01 .textBox h2 {
    font-size: 24px;
    padding-bottom: 25px;
}
.cont01 .button {
    text-align: left;
    margin-top: 30px;
}

/* cont02 */
.cont02 .scrollWrap {
    max-width: 800px;
    margin: auto;
    border: 1px solid;
    height: 300px;
    box-sizing: border-box;
    padding: 30px 15px 30px 30px;
}
.cont02 .scroll {
    height: 100%;
    box-sizing: border-box;
    padding-right: 30px;
    overflow-y: auto;
}
.cont02 .flex {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.cont02 .textBox {
    padding-left: 20px;
}
.cont02 h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
.cont02 .date {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
}
.cont02 .text {
    font-size: 14px;
    line-height: 1.8;
}
.cont02 .img {
    width: auto;
}